<div class="about-screen">
    <div id="id-about-carousel" class="carousel slide about-carousel" data-ride="carousel">
        <ol class="carousel-indicators about-carousel-indicators">
            <li data-target="#id-about-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#id-about-carousel" data-slide-to="1"></li>
            <li data-target="#id-about-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active about-carousel-item">
                <div class="about-container">
                    <div class="about-header">
                        <p>
                            Travelers reviews
                        </p>
                    </div>
                    <div class="about-main">
                        <div class="about-bracket-container pt-2">
                            <img src="~/assets/bracket.svg" alt="bracket" />
                            <img src="~/assets/bracket.svg" alt="bracket" />
                        </div>
                        <div class="about-content-container pl-2">
                            <p class="about-content">I really like how user friendly it is and the auto-save. I also enjoy being able to look at trips that others have planned for inspiration.</p>
                            <div class="m-about-image-container">
                                <div class="d-flex">
                                    <img src="~/assets/about-photo.png" alt="photo" class="d-block d-sm-none d-none d-sm-block d-md-none" />
                                    <p class="about-author">Gian Cescon.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-image-container d-none d-md-block d-md-none d-lg-block">
                            <img src="~/assets/about-photo.png" alt="photo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item about-carousel-item">
                <div class="about-container">
                    <div class="about-header">
                        <p>
                            Travelers reviews
                        </p>
                    </div>
                    <div class="about-main">
                        <div class="about-bracket-container pt-2">
                            <img src="~/assets/bracket.svg" alt="bracket" />
                            <img src="~/assets/bracket.svg" alt="bracket" />
                        </div>
                        <div class="about-content-container pl-2">
                            <p class="about-content">I really like how user friendly it is and the auto-save. I also enjoy being able to look at trips that others have planned for inspiration.</p>
                            <div class="m-about-image-container">
                                <div class="d-flex">
                                    <img src="~/assets/about-photo.png" alt="photo" class="d-block d-sm-none d-none d-sm-block d-md-none" />
                                    <p class="about-author">Gian Cescon.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-image-container d-none d-md-block d-md-none d-lg-block">
                            <img src="~/assets/about-photo.png" alt="photo" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item about-carousel-item">
                <div class="about-container">
                    <div class="about-header">
                        <p>
                            Travelers reviews
                        </p>
                    </div>
                    <div class="about-main">
                        <div class="about-bracket-container pt-2">
                            <img src="~/assets/bracket.svg" alt="bracket" />
                            <img src="~/assets/bracket.svg" alt="bracket" />
                        </div>
                        <div class="about-content-container pl-2">
                            <p class="about-content">I really like how user friendly it is and the auto-save. I also enjoy being able to look at trips that others have planned for inspiration.</p>
                            <div class="m-about-image-container">
                                <div class="d-flex">
                                    <img src="~/assets/about-photo.png" alt="photo" class="d-block d-sm-none d-none d-sm-block d-md-none" />
                                    <p class="about-author">Gian Cescon.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about-image-container d-none d-md-block d-md-none d-lg-block">
                            <img src="~/assets/about-photo.png" alt="photo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>