<div class="footer-screen">
    <div class="footer-container d-flex justify-content-between">
        <div class="footer-marketing">
            <div class="footer-content-header">
                <img src="~/assets/Logo.svg" class="logo" />
            </div>
            <div class="block-content">
                <p class="description">
                    Để biết  thêm thông tin về các chính sách<br />
                    Vui lòng liên hệ với chúng tôi qua Email
                </p>
                <div class="email-section pt-2">
                    <img src="~/assets/mail-logo.svg" />
                    <p class="email-address">Marketing@migo.travel</p>
                </div>
                <div class="d-none d-md-block d-md-none d-lg-block">
                    <button class="follow-page">
                        <img src="~/assets/facebook-logo.svg" />
                        Theo dõi Migo
                    </button>
                </div>
                <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                    <div class="d-flex justify-content-between logo-button-group">
                        <button class="logo-button"><img src="~/assets/facebook-logo.svg" /></button>
                        <button class="logo-button"><img src="~/assets/insta.svg" /></button>
                        <button class="logo-button"><img src="~/assets/youtube.svg" /></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-about">
            <div class="footer-content-header">
                <p class="title-text">Migo</p>
            </div>
            <div class="block-content">
                <p class="about normal-text">Về chúng tôi</p>
                <p class="collapse-with normal-text">Hợp tác cùng Migo</p>
            </div>
        </div>

        <div class="footer-policy">
            <div class="footer-content-header">
                <p class="title-text">Chính sách</p>
            </div>
            <div class="block-content">
                <p class="regulation normal-text">Quy định sử dụng</p>
                <p class="policy normal-text">Chính sách bảo mật</p>
                <p class="rules normal-text">Điều khoản sử dụng</p>
                <p class="community normal-text">Tiêu chuẩn cộng đồng</p>
            </div>
        </div>

        <div class="migo-apps">
            <div class="footer-content-header">
                <p class="title-text">Ứng dụng Migo</p>
            </div>
            <div class="block-content">
                <div class="app-store" style="background-image:url('../assets/app-store.png')"></div>
                <div class="google-play mt-3" style="background-image:url('../assets/google-play.png')"></div>
            </div>
        </div>
    </div>
</div>