<div class="new-letter-screen">
    <div class="new-letter-container">
        <p class="title">Receive newsletters from Migo</p>
        <p class="description">Don’t miss out travel news from Migo!</p>
        <div class="enter-mail-container w-100 d-flex justify-content-center">
            <input class="enter-email" placeholder="Enter your email here" />
        </div>

        <div class="sign-up-container main-container w-100 d-flex justify-content-center">
            <button class="sign-up">Sign me up!</button>
        </div>
    </div>
</div>