<div class="plan-trip-screen">
    <div class="plan-trip-container">
        <div class="plan-trip-header">
            <p class="text-center w-100 plan-trip-title">Plan your trip</p>
            <p class="text-center w-100 plan-trip-description">Plan and save your travel experiences. Get your trip ready before you hit the road!</p>
        </div>
        <div class="plan-trip-main text-center">
            <img class="main-plan-trip-img" src="~/assets/plan-trip.png" alt="lg" />
        </div>
        <div class="plan-trip-screen-footer">
            <button class="plan-trip-button">
                <img src="~/assets/calendar.svg" alt="logo" />
                <p>Start Planning</p>
            </button>
        </div>
    </div>
</div>