<div id="mySidenav" class="side-navbar-screen">
    <div class="side-navbar-container">
        <div class="side-navbar-header d-flex justify-content-between">
            <div class="side-navbar-button">
                <button class="side-sign-up">Sign Up</button>
                <button class="side-log-in">Log in</button>
            </div>

            <button class="side-close" onclick="closeNav()"><img src="~/assets/close-logo.svg" alt="lgo" /></button>
        </div>

        <div class="side-navbar-main">
            <a href="" class="nav-special">Home</a>
            <a href="" class="nav-special">Plan your trip</a>
            <a href="" class="nav-special">Ask Migo</a>
            <a href="">Inspiration</a>
            <a href="">Destination</a>
            <a href="">Events</a>
            <a href="">Community</a>
        </div>

        <div class="side-navbar-footer">
            <div class="side-navbar-footer-container">
                <button class="side-button-vietnamese"><div class="footer-img-wrapper"><img src="~/assets/vietnamese.png" alt="vietnamese" /></div><p>Vietnamese</p></button>
                <button class="side-button-english"><div class="footer-img-wrapper"><img src="~/assets/english.png" alt="english" /></div><p>English</p></button>
            </div>
        </div>
    </div>
</div>