<div class="story-screen">
    <div class="story-container">
        <div class="story-header">
            <div class="row">
                <div class="col-10">
                    <p class="title">Popular destinations</p>
                </div>
                <div class="col d-none d-md-block d-md-none d-lg-block">
                    <div class="story-calendar-container h-100 d-flex align-items-center justify-content-end">
                        <div class="story-calendar-group">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.25 0C5.44891 0 5.63968 0.0790176 5.78033 0.21967C5.92098 0.360322 6 0.551088 6 0.75V1.5H18V0.75C18 0.551088 18.079 0.360322 18.2197 0.21967C18.3603 0.0790176 18.5511 0 18.75 0C18.9489 0 19.1397 0.0790176 19.2803 0.21967C19.421 0.360322 19.5 0.551088 19.5 0.75V1.5H21C21.7956 1.5 22.5587 1.81607 23.1213 2.37868C23.6839 2.94129 24 3.70435 24 4.5V21C24 21.7956 23.6839 22.5587 23.1213 23.1213C22.5587 23.6839 21.7956 24 21 24H3C2.20435 24 1.44129 23.6839 0.87868 23.1213C0.316071 22.5587 0 21.7956 0 21V4.5C0 3.70435 0.316071 2.94129 0.87868 2.37868C1.44129 1.81607 2.20435 1.5 3 1.5H4.5V0.75C4.5 0.551088 4.57902 0.360322 4.71967 0.21967C4.86032 0.0790176 5.05109 0 5.25 0V0ZM1.5 6V21C1.5 21.3978 1.65804 21.7794 1.93934 22.0607C2.22064 22.342 2.60218 22.5 3 22.5H21C21.3978 22.5 21.7794 22.342 22.0607 22.0607C22.342 21.7794 22.5 21.3978 22.5 21V6H1.5Z" fill="black" />
                            </svg>
                            <p class="calendar-month-logo">4</p>
                        </div>
                        <p class="calendar-month">April</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="story-main">
            <div class="story-photo-group">
                <div class="story-photo" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../assets/p-first.png');">
                    <div class="story-content">
                        <div class="story-photo-weather">
                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1094 3.95312V0.953125H15.1094V3.95312H13.1094ZM18.7434 4.92693L20.2434 2.32886L21.9755 3.32886L20.4755 5.92693L18.7434 4.92693ZM14.1094 21.9531C17.9754 21.9531 21.1094 18.8191 21.1094 14.9531C21.1094 11.0871 17.9754 7.95312 14.1094 7.95312C10.2434 7.95312 7.10938 11.0871 7.10938 14.9531C7.10938 18.8191 10.2434 21.9531 14.1094 21.9531ZM14.1094 23.9531C19.0799 23.9531 23.1094 19.9237 23.1094 14.9531C23.1094 9.98256 19.0799 5.95312 14.1094 5.95312C9.13881 5.95312 5.10938 9.98256 5.10938 14.9531C5.10938 19.9237 9.13881 23.9531 14.1094 23.9531ZM25.1094 13.9531H28.1094V15.9531H25.1094V13.9531ZM25.7337 7.0871L23.1356 8.5871L24.1356 10.3191L26.7337 8.81915L25.7337 7.0871ZM6.24335 3.32886L7.74335 5.92693L9.4754 4.92693L7.9754 2.32886L6.24335 3.32886ZM4.08312 10.3191L1.48505 8.81915L2.48505 7.0871L5.08312 8.5871L4.08312 10.3191ZM13.1094 25.9531V28.9531H15.1094V25.9531H13.1094ZM3.10938 13.9531H0.109375V15.9531H3.10938V13.9531ZM1.48499 21.0871L4.08307 19.5871L5.08307 21.3192L2.48499 22.8192L1.48499 21.0871ZM7.74341 23.9795L6.24341 26.5776L7.97546 27.5776L9.47546 24.9795L7.74341 23.9795ZM20.2433 27.5776L18.7433 24.9795L20.4754 23.9795L21.9754 26.5776L20.2433 27.5776ZM23.1357 21.3192L25.7338 22.8192L26.7338 21.0871L24.1357 19.5871L23.1357 21.3192Z" fill="#F2C94C" />
                            </svg>
                            <p class="story-content-celcius">30°C</p>
                        </div>
                        <p class="story-content-address">Phú Quốc</p>
                    </div>
                </div>
                <div class="story-photo" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../assets/p-second.png');">
                    <div class="story-content">
                        <div class="story-photo-weather">
                            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.109375" y="0.953125" width="40" height="40" rx="20" fill="black" fill-opacity="0.08" />
                                <g opacity="0.86">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1093 22.0613C32.1093 24.3341 30.631 26.241 28.6094 26.8836V28.9531C31.7545 28.2611 34.1093 25.4383 34.1093 22.0613C34.1093 18.1654 30.9753 15.0071 27.1093 15.0071C26.911 15.0071 26.7146 15.0154 26.5204 15.0317C25.0859 10.9092 21.1902 7.95312 16.6094 7.95312C10.8104 7.95312 6.10938 12.6905 6.10938 18.5343C6.10938 22.9509 8.79449 26.7355 12.6094 28.3207V26.1073C9.93551 24.6651 8.10938 21.8211 8.10938 18.5343C8.10938 13.7805 11.9295 9.95312 16.6094 9.95312C20.2328 9.95312 23.3408 12.2475 24.5594 15.4898L24.5677 15.4865C24.7988 16.1123 24.9608 16.7725 25.0443 17.4575C25.6748 17.1681 26.3744 17.0071 27.1093 17.0071C29.8562 17.0071 32.1093 19.2554 32.1093 22.0613ZM27.1094 22.9531H17.1094V24.9531H27.1094V22.9531ZM25.1094 26.9531H15.1094V28.9531H25.1094V26.9531ZM17.1094 30.9531H27.1094V32.9531H17.1094V30.9531Z" fill="white" />
                                </g>
                            </svg>

                            <p class="story-content-celcius">30°C</p>
                        </div>
                        <p class="story-content-address">Hà Nội</p>
                    </div>
                </div>
                <div class="story-photo" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../assets/p-third.png');">
                    <div class="story-content">
                        <div class="story-photo-weather">
                            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.109375" y="0.953125" width="40" height="40" rx="20" fill="black" fill-opacity="0.08" />
                                <g opacity="0.86">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1093 22.0613C32.1093 24.3341 30.631 26.241 28.6094 26.8836V28.9531C31.7545 28.2611 34.1093 25.4383 34.1093 22.0613C34.1093 18.1654 30.9753 15.0071 27.1093 15.0071C26.911 15.0071 26.7146 15.0154 26.5204 15.0317C25.0859 10.9092 21.1902 7.95312 16.6094 7.95312C10.8104 7.95312 6.10938 12.6905 6.10938 18.5343C6.10938 22.9509 8.79449 26.7355 12.6094 28.3207V26.1073C9.93551 24.6651 8.10938 21.8211 8.10938 18.5343C8.10938 13.7805 11.9295 9.95312 16.6094 9.95312C20.2328 9.95312 23.3408 12.2475 24.5594 15.4898L24.5677 15.4865C24.7988 16.1123 24.9608 16.7725 25.0443 17.4575C25.6748 17.1681 26.3744 17.0071 27.1093 17.0071C29.8562 17.0071 32.1093 19.2554 32.1093 22.0613ZM27.1094 22.9531H17.1094V24.9531H27.1094V22.9531ZM25.1094 26.9531H15.1094V28.9531H25.1094V26.9531ZM17.1094 30.9531H27.1094V32.9531H17.1094V30.9531Z" fill="white" />
                                </g>
                            </svg>

                            <p class="story-content-celcius">30°C</p>
                        </div>
                        <p class="story-content-address">Ninh Bình</p>
                    </div>
                </div>
                <div class="story-photo" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../assets/p-third.png');">
                    <div class="story-content">
                        <div class="story-photo-weather">
                            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1094 3.95312V0.953125H15.1094V3.95312H13.1094ZM18.7434 4.92693L20.2434 2.32886L21.9755 3.32886L20.4755 5.92693L18.7434 4.92693ZM14.1094 21.9531C17.9754 21.9531 21.1094 18.8191 21.1094 14.9531C21.1094 11.0871 17.9754 7.95312 14.1094 7.95312C10.2434 7.95312 7.10938 11.0871 7.10938 14.9531C7.10938 18.8191 10.2434 21.9531 14.1094 21.9531ZM14.1094 23.9531C19.0799 23.9531 23.1094 19.9237 23.1094 14.9531C23.1094 9.98256 19.0799 5.95312 14.1094 5.95312C9.13881 5.95312 5.10938 9.98256 5.10938 14.9531C5.10938 19.9237 9.13881 23.9531 14.1094 23.9531ZM25.1094 13.9531H28.1094V15.9531H25.1094V13.9531ZM25.7337 7.0871L23.1356 8.5871L24.1356 10.3191L26.7337 8.81915L25.7337 7.0871ZM6.24335 3.32886L7.74335 5.92693L9.4754 4.92693L7.9754 2.32886L6.24335 3.32886ZM4.08312 10.3191L1.48505 8.81915L2.48505 7.0871L5.08312 8.5871L4.08312 10.3191ZM13.1094 25.9531V28.9531H15.1094V25.9531H13.1094ZM3.10938 13.9531H0.109375V15.9531H3.10938V13.9531ZM1.48499 21.0871L4.08307 19.5871L5.08307 21.3192L2.48499 22.8192L1.48499 21.0871ZM7.74341 23.9795L6.24341 26.5776L7.97546 27.5776L9.47546 24.9795L7.74341 23.9795ZM20.2433 27.5776L18.7433 24.9795L20.4754 23.9795L21.9754 26.5776L20.2433 27.5776ZM23.1357 21.3192L25.7338 22.8192L26.7338 21.0871L24.1357 19.5871L23.1357 21.3192Z" fill="#F2C94C" />
                            </svg>
                            <p class="story-content-celcius">30°C</p>
                        </div>
                        <p class="story-content-address">Ninh Bình</p>
                    </div>
                </div>
                <div class="story-photo" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../assets/p-second.png');">
                    <div class="story-content">
                        <div class="story-photo-weather">
                            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.109375" y="0.953125" width="40" height="40" rx="20" fill="black" fill-opacity="0.08" />
                                <g opacity="0.86">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1093 22.0613C32.1093 24.3341 30.631 26.241 28.6094 26.8836V28.9531C31.7545 28.2611 34.1093 25.4383 34.1093 22.0613C34.1093 18.1654 30.9753 15.0071 27.1093 15.0071C26.911 15.0071 26.7146 15.0154 26.5204 15.0317C25.0859 10.9092 21.1902 7.95312 16.6094 7.95312C10.8104 7.95312 6.10938 12.6905 6.10938 18.5343C6.10938 22.9509 8.79449 26.7355 12.6094 28.3207V26.1073C9.93551 24.6651 8.10938 21.8211 8.10938 18.5343C8.10938 13.7805 11.9295 9.95312 16.6094 9.95312C20.2328 9.95312 23.3408 12.2475 24.5594 15.4898L24.5677 15.4865C24.7988 16.1123 24.9608 16.7725 25.0443 17.4575C25.6748 17.1681 26.3744 17.0071 27.1093 17.0071C29.8562 17.0071 32.1093 19.2554 32.1093 22.0613ZM27.1094 22.9531H17.1094V24.9531H27.1094V22.9531ZM25.1094 26.9531H15.1094V28.9531H25.1094V26.9531ZM17.1094 30.9531H27.1094V32.9531H17.1094V30.9531Z" fill="white" />
                                </g>
                            </svg>

                            <p class="story-content-celcius">30°C</p>
                        </div>
                        <p class="story-content-address">Hà Nội</p>
                    </div>
                </div>
                <div class="story-photo" style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), url('../assets/p-second.png');">
                    <div class="story-content">
                        <div class="story-photo-weather">
                            <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.109375" y="0.953125" width="40" height="40" rx="20" fill="black" fill-opacity="0.08" />
                                <g opacity="0.86">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.1093 22.0613C32.1093 24.3341 30.631 26.241 28.6094 26.8836V28.9531C31.7545 28.2611 34.1093 25.4383 34.1093 22.0613C34.1093 18.1654 30.9753 15.0071 27.1093 15.0071C26.911 15.0071 26.7146 15.0154 26.5204 15.0317C25.0859 10.9092 21.1902 7.95312 16.6094 7.95312C10.8104 7.95312 6.10938 12.6905 6.10938 18.5343C6.10938 22.9509 8.79449 26.7355 12.6094 28.3207V26.1073C9.93551 24.6651 8.10938 21.8211 8.10938 18.5343C8.10938 13.7805 11.9295 9.95312 16.6094 9.95312C20.2328 9.95312 23.3408 12.2475 24.5594 15.4898L24.5677 15.4865C24.7988 16.1123 24.9608 16.7725 25.0443 17.4575C25.6748 17.1681 26.3744 17.0071 27.1093 17.0071C29.8562 17.0071 32.1093 19.2554 32.1093 22.0613ZM27.1094 22.9531H17.1094V24.9531H27.1094V22.9531ZM25.1094 26.9531H15.1094V28.9531H25.1094V26.9531ZM17.1094 30.9531H27.1094V32.9531H17.1094V30.9531Z" fill="white" />
                                </g>
                            </svg>

                            <p class="story-content-celcius">30°C</p>
                        </div>
                        <p class="story-content-address">Hà Nội</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>