<div class="tour-package-screen" onresize="collapseAll()">
    <div class="tour-package-header">
        <p>Popular tour packages</p>
    </div>
    <div class="tour-packages-list">
        <div class="swiper-container tour-packages-container">
            <div class="swiper-wrapper grid-container">
                <div class="swiper-slide tour-packages-wrapper">
                    <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/packages-1.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Phú Yên, Việt Nam</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-1"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-1">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">Zannier Hotels Bai San Coral is a luxury resort hidden in a natural conservation space.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/package-2.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Quảng Bình, Việt Nam</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-2"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-2">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">This tour is for travelers who want to experience an enormous cave – but may not have time for Son Doong.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/package-3.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Hà Nội & Quảng Ninh, VN</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-3"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-3">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">Spend a night at the reputable Metropole in Hanoi and embark on the stylish Au Co.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tour-packages-wrapper">
                    <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/packages-1.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Phú Yên, Việt Nam</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-4"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-4">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">Zannier Hotels Bai San Coral is a luxury resort hidden in a natural conservation space.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/package-2.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Quảng Bình, Việt Nam</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-5"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-5">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">This tour is for travelers who want to experience an enormous cave – but may not have time for Son Doong.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/package-3.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Hà Nội & Quảng Ninh, VN</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-6"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-6">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">Spend a night at the reputable Metropole in Hanoi and embark on the stylish Au Co.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tour-packages-wrapper">
                    <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/packages-1.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Phú Yên, Việt Nam</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-7"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-7">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">Zannier Hotels Bai San Coral is a luxury resort hidden in a natural conservation space.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/package-2.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Quảng Bình, Việt Nam</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-8"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-8">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">This tour is for travelers who want to experience an enormous cave – but may not have time for Son Doong.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour-packages-each">
                        <div class="card packages-card">
                            <div class="position-relative">
                                <img class="card-img-top" src="~/assets/package-3.png" alt="Card image cap">
                                <div class=" d-block d-sm-none d-none d-sm-block d-md-none">
                                    <div class="package-img-info-wrapper">
                                        <div class="price-wrapper">
                                            <p class="info-price-title">Price:</p>
                                            <p class="info-price pl-2">$350/pax</p>
                                        </div>
                                        <p class="info-date">2 ngày 1 đêm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="package-card-body position-relative">
                                    <div class="package-card-address-wrapper">
                                        <div class="package-address-section">
                                            <img src="~/assets/position-logo.svg" />
                                            <p class="package-address">Hà Nội & Quảng Ninh, VN</p>
                                        </div>
                                        <div class="d-block d-sm-none d-none d-sm-block d-md-none">
                                            <div class="package-arrow-container position-absolute w-100 d-flex justify-content-end align-items-center"
                                                 data-toggle="collapse"
                                                 href="#package-card-9"
                                                 role="button"
                                                 aria-expanded="false"
                                                 aria-controls="collapseExample">
                                                <img src="~/assets/down-arrow.svg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div id="package-card-9">
                                        <p class="package-title">A paradise on Earth</p>
                                        <p class="package-description">Spend a night at the reputable Metropole in Hanoi and embark on the stylish Au Co.</p>
                                        <div class="package-card-author-wrapper">
                                            <div class="author-img-wrapper" style="background-image:url('../assets/package-author.png')">
                                            </div>
                                            <p class="package-author-name">Zoey</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer package-card-footer d-none d-md-block d-md-none d-lg-block">
                                <div class="package-footer-wrapper">
                                    <div class="price-wrapper">
                                        <p class="footer-price-title">Price:</p>
                                        <p class="footer-price">$350/pax</p>
                                    </div>
                                    <p class="footer-date">2 ngày 1 đêm</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination package-swiper-custom"></div>
        </div>
    </div>
</div>
