<div class="trending-screen">
    <div class="trending-container">
        <div class="trending-header">
            <p class="trending-header-title">Trending events</p>
            <a class="trending-see-more text-nowrap">
                <p>See more</p>
                <img src="~/assets/right-arrow-sign.svg" alt="lgo" />
            </a>
        </div>
        <div class="trending-main">
            <div class="trending-category-title">
                <ul>
                    <li class="active"><a><p>January</p></a></li>
                    <li><a><p>February</p></a></li>
                    <li><a><p>March</p></a></li>
                    <li><a><p>April</p></a></li>
                    <li><a><p>May</p></a></li>
                    <li><a><p>June</p></a></li>
                    <li><a><p>July</p></a></li>
                    <li><a><p>August</p></a></li>
                    <li><a><p>September</p></a></li>
                    <li><a><p>October</p></a></li>
                    <li><a><p>November</p></a></li>
                    <li><a><p>December</p></a></li>
                </ul>
            </div>
            <div class="trending-category-card">
                <div class="card trending-card border-0">
                    <div class="card-img-wrapper">
                        <img class="card-img-top" src="~/assets/trending-card-first.png" alt="Card image cap">
                    </div>
                    <div class="trending-card-body">
                        <p class="trending-title">LIKE THE MOON IN A NIGHT SKY 2022 / NHƯ TRĂNG TRONG ĐÊM...</p>
                    </div>
                    <div class="trending-card-footer">
                        <img src="~/assets/clock.svg" />
                        <p>25/01/2022 - 25/03/2022</p>
                    </div>
                </div>

                <div class="card topic-card border-0">
                    <div class="card-img-wrapper">
                        <img class="card-img-top" src="~/assets/trending-card-second.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="topic-relate-title">Sunlit NYE 2022 at Sunset Sanato Beach Club</p>
                    </div>
                    <div class="trending-card-footer">
                        <img src="~/assets/clock.svg" />
                        <p>25/01/2022 - 25/03/2022</p>

                    </div>
                </div>

                <div class="card topic-card border-0">
                    <div class="card-img-wrapper">
                        <img class="card-img-top" src="~/assets/trending-card-third.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p class="topic-relate-title">Phú Quốc Odyssey 2022 </p>
                    </div>
                    <div class="trending-card-footer">
                        <img src="~/assets/clock.svg" />
                        <p>25/01/2022 - 25/03/2022</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>