<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MigoClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/global.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid p-0">
                <div class="row w-100 m-0">
                    <div class="col-3">
                        <div class="navbar-brand" asp-area="" asp-page="/Index">
                            <svg width="105" height="41" viewBox="0 0 105 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.11063 28.0839C9.11063 28.7968 8.86109 29.3893 8.35878 29.8646C7.85971 30.366 7.26665 30.6199 6.5861 30.6199H6.52453C5.84397 30.6199 5.25092 30.3692 4.75185 29.8646C4.24954 29.3893 4 28.7936 4 28.0839V16.5594C4 13.7955 4.9787 11.419 6.93934 9.43645C8.89998 7.46688 11.2625 6.48372 14.0301 6.48372C17.3388 6.48372 19.8342 7.58733 21.5161 9.79455C23.1884 7.58408 25.6772 6.48047 28.986 6.48047C31.7536 6.48047 34.1161 7.46363 36.0767 9.43319C38.0374 11.4158 39.0161 13.7923 39.0161 16.5562V28.0806C39.0161 28.7805 38.773 29.373 38.2869 29.8614C37.7878 30.3627 37.1883 30.6166 36.4948 30.6166H36.4527C35.7429 30.6166 35.1531 30.366 34.68 29.8614C34.1809 29.3861 33.9281 28.7936 33.9281 28.0806V16.5562C33.9281 15.1889 33.4485 14.0202 32.4892 13.0565C31.53 12.0929 30.3633 11.6111 28.986 11.6111C27.6217 11.6111 26.4615 12.0929 25.5022 13.0565C24.543 14.0202 24.0633 15.1856 24.0633 16.5562V28.0806C24.0633 28.7936 23.8138 29.3861 23.3115 29.8614C22.8384 30.3627 22.2485 30.6166 21.5388 30.6166H21.4967C20.7999 30.6166 20.2036 30.366 19.7046 29.8614C19.2055 29.3861 18.9527 28.7936 18.9527 28.0806V16.5562C18.9527 15.1889 18.4731 14.0202 17.5138 13.0565C16.5546 12.0929 15.3944 11.6111 14.0301 11.6111C12.6657 11.6111 11.5055 12.0929 10.5463 13.0565C9.58702 14.0202 9.10739 15.1856 9.10739 16.5562V28.0839H9.11063Z" fill="#6D6D6D" />
                                <path d="M44.879 8.91252C44.2017 8.91252 43.6216 8.67162 43.1452 8.18981C42.6656 7.70799 42.4258 7.12852 42.4258 6.44812C42.4258 5.78075 42.6656 5.20453 43.1452 4.72272C43.6249 4.24091 44.2017 4 44.879 4C45.5466 4 46.117 4.24091 46.5966 4.72272C47.086 5.19151 47.3322 5.76773 47.3322 6.44812C47.3322 7.14154 47.086 7.72102 46.5966 8.18981C46.117 8.67162 45.5434 8.91252 44.879 8.91252Z" fill="#F4BD58" />
                                <path d="M44.8749 30.6162C43.4976 30.6162 42.3828 29.4963 42.3828 28.1127V14.355C42.3828 12.9714 43.4976 11.8516 44.8749 11.8516C46.2522 11.8516 47.367 12.9714 47.367 14.355V28.1127C47.367 29.4963 46.2522 30.6162 44.8749 30.6162Z" fill="#6D6D6D" />
                                <path d="M72.5762 12.0193C70.4406 8.79315 66.7915 6.66406 62.6466 6.66406C56.0647 6.66406 50.7305 12.0226 50.7305 18.6345C50.7305 25.2464 56.0647 30.6016 62.6466 30.6016C65.1938 30.6016 67.5531 29.8008 69.4878 28.4302C69.2286 29.7357 68.5512 30.9109 67.4624 31.9527C66.0883 33.2939 64.5425 33.9645 62.8411 33.9645C60.1124 33.9645 58.074 32.9293 56.7226 30.8621C56.6416 30.7416 56.5541 30.6277 56.4601 30.5235C56.4374 30.4942 56.4082 30.4616 56.3823 30.4356C56.3596 30.4096 56.3369 30.3835 56.311 30.3607C55.8605 29.9017 55.2318 29.612 54.5383 29.612C53.161 29.612 52.043 30.7351 52.043 32.1187C52.043 32.5354 52.1467 32.9293 52.3249 33.2776C52.3314 33.2907 52.3379 33.3004 52.3444 33.3134C52.3897 33.4144 52.4481 33.5153 52.5129 33.6162C54.8041 37.2037 58.249 39.0008 62.8476 39.0008C65.8485 39.0008 68.5415 37.8483 70.9267 35.5467C73.3961 33.1604 74.6276 30.3672 74.6276 27.1606V18.6768C74.6114 16.1701 73.9309 13.9498 72.5762 12.0193ZM62.6466 25.6338C58.7999 25.6338 55.6758 22.4987 55.6758 18.6345C55.6758 14.7702 58.7966 11.6319 62.6466 11.6319C66.4901 11.6319 69.6142 14.767 69.6142 18.6345C69.611 22.4987 66.4901 25.6338 62.6466 25.6338Z" fill="#F4BD58" />
                                <path d="M89.986 6.51172C93.2948 6.51172 96.124 7.69346 98.4735 10.0537C100.823 12.4139 101.999 15.2559 101.999 18.5798C101.999 21.9036 100.823 24.7457 98.4735 27.1059C96.124 29.4661 93.2948 30.6479 89.986 30.6479C86.6773 30.6479 83.8481 29.4661 81.4986 27.1059C79.149 24.7457 77.9727 21.9036 77.9727 18.5798C77.9727 15.2559 79.149 12.4139 81.4986 10.0537C83.8481 7.6902 86.6773 6.51172 89.986 6.51172ZM89.986 11.6847C88.0675 11.6847 86.4342 12.3618 85.0861 13.7161C83.7509 15.0704 83.0833 16.7111 83.0833 18.6384C83.0833 20.5526 83.7509 22.1869 85.0861 23.5411C86.4342 24.8954 88.0675 25.5726 89.986 25.5726C91.8916 25.5726 93.5184 24.8954 94.8666 23.5411C96.2147 22.1869 96.8888 20.5526 96.8888 18.6384C96.8888 16.7111 96.2147 15.0704 94.8666 13.7161C93.5184 12.3618 91.8916 11.6847 89.986 11.6847Z" fill="#F4BD58" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="navbar-search-container">
                            <div class="navbar-search">
                                <input type="text" class="navbar-search-input" placeholder="Search" />
                                <svg class="navbar-search-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.7364 14.7325L11.5568 11.5472L14.7364 14.7325ZM13.3189 7.29029C13.3189 8.88813 12.6841 10.4205 11.5543 11.5504C10.4244 12.6802 8.89204 13.315 7.2942 13.315C5.69636 13.315 4.16396 12.6802 3.03412 11.5504C1.90427 10.4205 1.26953 8.88813 1.26953 7.29029C1.26953 5.69245 1.90427 4.16005 3.03412 3.03021C4.16396 1.90036 5.69636 1.26563 7.2942 1.26562C8.89204 1.26563 10.4244 1.90036 11.5543 3.03021C12.6841 4.16005 13.3189 5.69245 13.3189 7.29029V7.29029Z" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="navbar-right-container">
                            <div class="navbar-notification">
                                <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.32555 17.7963H10.5797C10.5846 18.0838 10.5332 18.3695 10.4285 18.6367C10.3238 18.9038 10.1679 19.1471 9.96992 19.3522C9.77192 19.5573 9.53577 19.7203 9.27526 19.8315C9.01476 19.9427 8.7351 20 8.45262 20C8.17013 20 7.89047 19.9427 7.62997 19.8315C7.36946 19.7203 7.13331 19.5573 6.93531 19.3522C6.73731 19.1471 6.58141 18.9038 6.47672 18.6367C6.37203 18.3695 6.32064 18.0838 6.32555 17.7963ZM17 15.0837V16.1651H1.79326e-07L0 15.0837L0.946951 14.36C1.5953 13.8653 2.12556 12.9731 2.12556 12.3788L2.12632 6.42907C2.14227 4.71839 2.82088 3.08328 4.01459 1.87935C5.20829 0.675408 6.82055 0 8.50075 0C10.181 0 11.7932 0.675408 12.9869 1.87935C14.1806 3.08328 14.8592 4.71839 14.8752 6.42907L14.8752 12.3796C14.8752 12.9738 15.4055 13.866 16.0538 14.3608L17 15.0837Z" fill="#333333" />
                                </svg>
                            </div>
                            <div class="navbar-user d-flex justify-content-around">
                                <img src="assets/user.png" class="user-icon"/>
                                <p>Lana Nguyễn</p>
                            </div>
                            <div class="navbar-toggler-menu">
                                <button class="clean-button">
                                    <svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 16H25M1 1H25H1ZM1 8.5H25H1Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MigoClient - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
